@if (IsActive)
{
    <p>
        <button class="btn btn-danger">Delete</button>
        <button class="btn btn-success">Edit</button>
    </p>
}


@code
{
    [Parameter]
    public bool IsActive { get; set; }
}